username: "examplebot" 
server_name: "matrix.org"
host: "https://matrix.org"
password: "passwordhere"
initial_rooms:
  - "#example:matrix.org"
  - "#example2:matrix.org"
prefix: "!"
owner: "@exampleowner@matrix.org"
